<div class="head">
	<button type="button" class="btn btn-primary btn-nav" data-toggle="modal" data-target="#myModal">
  	New Tweet
	</button>
	<h1>Welcome to Tweeter</h1>
</div>

<h4>Hello, <%= link_to "@" + current_user.username, user_profile_path(id: current_user.id) %>!</h4>
<h4>Here's what your friends are saying:</h4>


<% if @following_tweets != [] %>
	<% @following_tweets.each do |t| %>
		<%= render :partial => "tweet", :locals => {:t => t} %>
	<% end %>
<% else %>
	<p><em>You're not following anyone yet!</em></p>
	<p>Check out the <%= link_to "Global Feed", global_feed_path %> to find interesting users.</p>
<% end %>