<button type="button" class="btn btn-primary btn-nav" data-toggle="modal" data-target="#myModal">
  	New Tweet
</button>

<h1>@<%= @user.username %> is following...</h1><br />

<div class="row">
	<% if @following.count > 0 %>
		<% @following.each do |user| %>
			<%= render :partial => "user", :locals => {:user => user} %>
		<% end %>
	<% else %>
    <p>@<%= @user.username %> isn't following anyone yet!</p>
  <% end %>
</div>