<div class="head">
	<button type="button" class="btn btn-primary btn-nav" data-toggle="modal" data-target="#myModal">
    New Tweet
  </button>
	<h1>Global Feed</h1>
	<h4>Here's what the world has to say:</h4><br />
</div>

<% @tweets.each do |t| %>
	<%= render :partial => "tweet", :locals => {:t => t} %>
<% end %>