<button type="button" class="btn btn-primary btn-nav" data-toggle="modal" data-target="#myModal">
  	New Tweet
</button>

<h1>All Users</h1><br />

<div class="row">
	<% @users.shuffle.each do |user| %>
		<%= render :partial => "user", :locals => {:user => user} %>
	<% end %>
</div>